<!-- Team Section -->
<section id="team" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Prodej věc</h2>
        <h3 class="section-subheading text-muted">Existují alespoň tři jednoduché možnosti jak nabídnout věc k prodeji mezi svými kamarády.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="team-member">
          <img src="img/team/1.jpg" class="img-responsive img-circle" alt="">
          <h4>Facebook / Twitter</h4>
          <p class="text-muted">Jednoduché oslovení blízkého okolí. Tlačítko níže vytvoří příspěvěk na sociální síť, do kterého stačí jen doplnit text a obrázek.</p>
          <ul class="list-inline social-buttons">
            <li>
              <a href="#">
                {{fa-icon 'fa-facebook'}}
              </a>
            </li>
            <li>
              <a href="#">
                {{fa-icon 'fa-twitter'}}
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member">
          <img src="img/team/2.jpg" class="img-responsive img-circle" alt="">
          <h4>Offline kavárna</h4>
          <p class="text-muted">Spolupracujeme s <a href="http://www.perfect-world.cz">kavárnou Perfect World</a>, kde můžete věc nechat a ostatní návštěvníci kavárny si jí budou moci koupit.</p>
          <ul class="list-inline social-buttons">
            <li>
              <a href="#">
                {{fa-icon 'fa-coffee'}}
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member">
          <img src="img/team/3.jpg" class="img-responsive img-circle" alt="">
          <h4>Jakkoli jinak</h4>
          <p class="text-muted">Pokud vás napadá jiný způsob jak věc jednoduše prodat, iniciativě se meze nekladou...</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p class="large text-muted">Cena věci je fixně stanovena na <strong>30 Kč</strong> (proč? - odkaz). Předání věci si každý musí zařídit podle své situace. Pokud věc odevzdáte na sběrném místě v Perfect Worldu, nemusíte se o další fázi starat.</p>
      </div>
    </div>
  </div>
</section>
