@import "bower_components/font-awesome/scss/font-awesome";

@import "agency";
@import "bootstrap";

.navbar-brand .fa-stack {
  margin-top: -17px;
}

#about {
  background-color: #f7f7f7;
}

#portfolio {
  background-color: #fff;
}
