@import "bower_components/font-awesome/scss/font-awesome";

@import "agency";
@import "bootstrap";

.navbar-brand .fa-stack {
  margin-top: -17px;
}

#about {
  background-color: #f7f7f7;
}

#portfolio {
  background-color: #fff;
}


.navbar {
  margin-bottom: 0;
}

.navbar-default .nav li a {
  padding: 15px;
  margin: 0;
  font-weight: 400;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;

  &.active {
    background-color: #fed136;
    color: #fff;
    border-radius: 3px;
  }
}

// .nav > li > a:hover, .nav > li > a:focus
.nav-pills {
  margin-top: 100px;
  float: right;

  & > li > a {
    background-color: #777;
    color: #fff;
    border-radius: 3px;

    &.active, &:focus, &:hover {
      background-color: #fed136;
      color: #fff;
    }
  }
}
