<!-- Header -->
<header>
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">30 dní Minimalismu</div>
      <div class="intro-heading">Ukliď si a <br />přispěj na dobrou věc ...</div>
      <a href="#services" class="page-scroll btn btn-xl">Chci vědět víc</a>
    </div>
  </div>
</header>
