<div class="container">
  <ul class="nav nav-pills">
    <li>
      {{#link-to 'engage.find'}}
      1. Najdi věc
      {{/link-to}}
    </li>
    <li><a>{{fa-icon 'chevron-right'}}</a></li>
    <li>
      {{#link-to 'engage.sell'}}
      2. Prodej věc
      {{/link-to}}
    </li>
    <li><a>{{fa-icon 'chevron-right'}}</a></li>
    <li>
      {{#link-to 'engage.give'}}
      3. Daruj výtěžek
      {{/link-to}}
    </li>

  </ul>
</div>

{{liquid-outlet}}
