<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="copyright">Projekt vznikl za podpory <a href="http://www.perfect-world.cz/nadacni-fond-kavarny">nadačního&nbsp;fondu&nbsp;PERFECT</a></span>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li>
            <a href="https://twitter.com/search?q=%2330dn%C3%ADMinimalismu&src=typd"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a href="https://www.facebook.com/hashtag/30dn%C3%ADminimalismu?fref=ts"><i class="fa fa-facebook"></i></a>
          </li>
          <!--<li><a href="#"><i class="fa fa-linkedin"></i></a>
          </li>-->
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-inline quicklinks">
          <!--
          <li>
            <a href="#">{{fa-icon 'fa-facebook'}} #30dníMinimalismu</a>
          </li>
          <li><a href="#">Terms of Use</a>
          </li>
          -->
        </ul>
      </div>
    </div>
  </div>
</footer>
