<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Jak na to</h2>
        <h3 class="section-subheading text-muted">Přehledný návod na to, jak snadno přispět na dobrou věc.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/about/gift.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Najdi věc</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  Věc by měla mít hodnotu alespoň <strong>30Kč</strong>. Přečtená kniha. Funkční, ale malé oblečení. Nikdy nepoužitý toustovač... Použijte fantazii. Co mám, nepoužívám a někdo by to chtěl? Vždy se <a href="https://www.facebook.com/hashtag/30dn%C3%ADminimalismu?fref=ts" target="_blank">něco najde</a>.
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/about/price_tag.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Nabídni věc k prodeji</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  Nabídni věc k prodeji na svém facebookovém profilu. Přilož fotku a popisek. Cenu stanov na <strong>30 Kč</strong>. Do textu nezapomeň dát hashtag <a href="https://www.facebook.com/hashtag/30dn%C3%ADminimalismu?fref=ts" target="_blank">#30dníMinimalismu</a>.
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Někdo si věc koupí</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted"></p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>July 2014</h4>
                <h4 class="subheading">Phase Two Expansion</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <h4>Be Part
                <br>Of Our
                <br>Story!</h4>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
